:root {
    --primary-bluemid: #ee6c4d;
    --primary-bluedark: #3D5A80;
    --primary-bluelight:#98C1D9;

    --primary-grey: #E5E5E5;
 
  }
  /* Base Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous";
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-grey);
    margin: 0;
  }
  
  .nav__logo {
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem; 
    color: var(--primary-bluemid);
    z-index: 100;
  }

  
  
  /* Container Style*/
  .login-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
align-items: center;
    max-width: 900px;
    width: 100%; 
  }
  
  
  

  .form-section {
    align-items: center;
    width:50%; /* Use half the container width */
    padding: 1.5rem;
  }
  
  .login-header {
    margin-bottom: 2.5rem;
  }
  
  .login-header h1 {
    color: var(--primary-bluedark);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
  
  }
  
  .login-header p {
    color: var(--primary-bluemid);
    margin-bottom: 0.5rem;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    color: var(--primary-bluedark);
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  
  .form-group input {
    border-radius: 20px;
    color: var(--primary-bluelight);
    width: 100%;
    padding: 0.8rem 1rem;
    background: transparent;
    font-size: 1rem;
    transition: border-color 0.3s;
    border: 2px solid var(--primary-bluelight);
    background: transparent;
    
  }

  .form-group input:focus {
    outline: none;
    border-color: var(--secondary-bluedark);
  }
  
  .password-toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

  .register-link {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 15px;
  
  }
  .register-link p{
    color: var(--primary-bluedark);
  }
  i {
    color: var(--primary-bluemid);
  }
  .register-link a {
    color: var(--primary-bluelight);
    font-weight: 500;
    text-decoration: none;
  }
  
  
button {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-bluelight);
    border: none;
    padding: 1rem;
    font-size: 1rem;
  
    border-radius: 1rem;
    color: var(--primary-grey);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: var(--primary-bluedark);
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }
  /* this is the mobile view form */
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column-reverse; /* Changed from column to column-reverse */
      max-width: 400px; /* Added to make it look better on mobile */
    }

    .form-section {
      width: 100%;
      padding: 2rem;
    }
  }
  